<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo"><img width="330" height="35" src="images/logo.svg" alt="Подарки просто"></div>
    <ul class="footer__menu">
      <li><a href="#about">О нас</a></li>
      <li><a href="#sets">Просто Наборы</a></li>
      <li><a href="#advantages">Преимущества</a></li>
      <li><a href="#contacts">Контакты</a></li>
    </ul>
    <div class="footer__contacts">
      <p><a href="tel:+79995689097">8 999 568 90 97</a><br> <a href="mailto:mail@email.com">mail@email.com</a></p>
      <p><a href="#">Политика Конфиденциальности</a><br> <a href="#">Пользовательское соглашение</a></p>
    </div>
    <p class="footer__copyright">(с) 2021 Просто подарки. Все права защищены</p>
  </div>
</footer>
