<header class="header">
  <div class="header__container">
    <div class="header__logo"><img width="332" height="37" src="images/logo.svg" alt="Подарки просто"></div>
    <button class="js-menu-toggler header__menu-toggler" type="button" title="Меню"><span></span></button>
    <div class="header__menu-block">
      <div class="header__menu-block-inner">
        <div class="header__socials">
          <a class="social-link" href="#" target="_blank" title="Наш Instagram" rel="nofollow noreferrer noopener"><svg><use xlink:href="#inst"></use></svg></a>
          <a class="social-link" href="#" target="_blank" title="Мы Вконтакте" rel="nofollow noreferrer noopener"><svg><use xlink:href="#vk"></use></svg></a>
          <a class="social-link" href="#" target="_blank" title="Наш Twitter" rel="nofollow noreferrer noopener"><svg><use xlink:href="#tw"></use></svg></a>
        </div>
        <nav class="main-menu">
          <ul class="main-menu__list">
            <li class="main-menu__list-item"><a class="main-menu__link" href="#about">О нас</a></li>
            <li class="main-menu__list-item"><a class="main-menu__link" href="#sets">Просто Наборы</a></li>
            <li class="main-menu__list-item"><a class="main-menu__link" href="#advantages">Преимущества</a></li>
            <li class="main-menu__list-item"><a class="main-menu__link" href="#contacts">Контакты</a></li>
          </ul>
        </nav>
        <div class="header__phone"><a href="tel:+79995689097"><svg><use xlink:href="#phone"></use></svg> 8 999 568 90 97</a></div>
      </div>
    </div>
  </div>
</header>
