.request-form
  display: flex
  flex-wrap: wrap
  margin-left: auto
  margin-right: auto
  justify-content: center

  .input
    margin-bottom: 10px
    width: 100%

    @media(min-width: 520px)
      margin-bottom: 0
      margin-right: 10px
      max-width: 234px
